# Prerequisites
*.d
.idea/
server_client_c/cmake-build-debug/CMakeFiles/
server_client_c/CMakeFiles/
# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

../.idea/
.cmake/
server_client_c/cmake-build-debug/
server_client_c/cmake_install.cmake
server_client_c/CMakeCache.txt
